<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div id="hello" >
        <span [ngStyle]="{'color': color1}">H</span>
        <span [ngStyle]="{'color': color2}">E</span>
        <span [ngStyle]="{'color': color3}">L</span>
        <span [ngStyle]="{'color': color4}">L</span>
        <span [ngStyle]="{'color': color5}">O</span>
        <span [ngStyle]="{'color': color6}">-</span>
        <span [ngStyle]="{'color': color7}">-</span>
        <span [ngStyle]="{'color': color8}">T</span>
        <span [ngStyle]="{'color': color9}">Ú</span>
        <br>
        <div style="margin-left: 90px;">
        <span [ngStyle]="{'color': color5}">H</span>
        <span [ngStyle]="{'color': color4}">E</span>
        <span [ngStyle]="{'color': color1}">H</span>
        <span [ngStyle]="{'color': color8}">E</span>
</div>

    </div>
</body>
</html>
